.analytics {
  width: max-content;
  height: auto;
  font-family: 'Montserrat', sent-serif;
}

.analytics .analytics_title {
  color: #38a3a5;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

