.pay {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sent-serif;
}

.pay .pay_block {
  width: 445px;
  background: #fff;
  box-shadow: 0px 4px 14px 0px #0000000d;
  border-radius: 18px;
  margin-right: 10%;
  padding: 40px 5px;
}
.pay .pay_block .pay_title {
  font-size: 20px;
  font-weight: 700;
  color: #151a30;
  line-height: 25px;
  margin-left: 30px;
}
.pay .pay_block .pay_inner {
  margin: 30px;
  display: grid;
  grid-gap: 15px;
}

.pay .pay_block .pay_inner .pay_inner-title {
  font-size: 12px;
  color: #a7b1c2;
  line-height: 16px;
}

.pay .pay_block .pay_inner .pay_inner-input {
  font-family: 'Montserrat';
  padding: 10px;
  border: none;
  background-color: #80ed990d;
  color: #082d45;
  border-bottom: 1px solid #57cc99;
}

.pay .pay_block .pay_card {
  margin: 25px;
  padding: 30px 25px;
  background-color: #22577a;
  border-radius: 12px;
}

.pay .pay_block .pay_card .pay_card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.pay .pay_block .card_info {
  display: grid;
  grid-template-columns: 1fr;
}
.pay .pay_block .card_info .card_info-last {
  display: flex;
  justify-content: space-between;
}

.pay .pay_block .card_info .card_number {
  background-color: transparent;
  border: none;
  color: #fff;
  margin-top: 50px;
  display: grid;
}
.rccs__expiry__valid {
  display: none;
}
.rccs__expiry {
  padding-left: 90%;
  padding-top: 10%;
  color: #fff;
}
.rccs__name {
  margin-top: 10%;
  margin-bottom: -15%;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  content: '';
}
.rccs__number {
  margin-top: 15%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
